{% extends "layout.html" %} {% block content %} {% for post in posts %}
<!-- <article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article> -->

<div
  id="note"
  style="display:inline-flex;flex-wrap:wrap;justify-content:center;
  "
>
  <div
    id="note1"
    style="border: 1px solid lightgrey;
  width: 280px;
  height: fit-content;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;"
  >
    <div class="media-body">
      <div class="article-metadata">
        <i class="fas fa-thumbtack" style="float: right;"></i>
        <small class="text-muted">{{ post.title }}</small>
      </div>
      <h2>
        <a class="article-title" href="#">{{ post.title }}</a>
      </h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </div>
  {% endfor %} {% endblock content %}
</div>
